@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-thinitalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-extralight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-extralightitalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-lightitalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-mediumitalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-semibolditalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-bolditalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-extrabold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-extrabolditalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-blackitalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-thinitalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-lightitalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-mediumitalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-bolditalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-extrabold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-extrabolditalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/alegreya-sans/alegreyasans-blackitalic.ttf');
    font-weight: 900;
    font-style: italic;
}

:root {
    --max-font-size: 15rem;
    --min-font-size: 2rem;
    --max-font-weight: 900;
    --min-font-weight: 400;
}
