@import "main.css";


#home-s {
    padding: 0 19%;
    align-items: start;
    background: url(../images/home.webp) no-repeat;
    background-color: var(--bg-color);
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 60rem;
    z-index: 1;
}

#home-bg-hover {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50%;
    height: 100%;
    background: transparent;
    transition: opacity .5s, background .5s;
}

#home-bg-hover:hover {
    background: var(--bg-color);
    opacity: .6;
}

/* BREAKPOINT: */
@media all and (max-width: 768px) {
    #home-s {
        padding: 50% 19% 0;
        align-items: center;
        background-image: url(../images/home-mobile.webp);
    }

    #home-bg-hover {
        left: 0;
        width: 100%;
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }

    .sh {
        flex-direction: column;
    }
}