@import "main.css";


#home-s {
    padding: 0 19%;
    align-items: start;
    background: url(../images/home.webp) no-repeat;
    background-color: var(--bg-color);
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 60rem;
    z-index: 1;
}

#home-bg-hover {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50%;
    height: 100%;
    background: transparent;
    transition: opacity .5s, background .5s;
}

#home-bg-hover:hover {
    background: var(--bg-color);
    opacity: .4;
}

#home-socials {
    position: absolute;
    bottom: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#home-socials a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: transparent;
    border: .2rem solid var(--text-color);
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--text-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

#home-socials a:hover {
    color: var(--bg-color);
}

#home-socials a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--text-color);
    z-index: -1;
    transition: .5s;
}

#home-socials a:hover::before {
    width: 100%;
}

/* BREAKPOINT: */
@media all and (max-width: 768px) {
    #home-s {
        padding: 50% 19% 0;
        align-items: center;
        background-image: url(../images/home-mobile.webp);
    }

    #home-bg-hover {
        left: 0;
        width: 100%;
        pointer-events: none;
        background: var(--bg-color);
        opacity: 0;
    }

    .sh {
        flex-direction: column;
    }
}