@import "font.css";
@import "color.css";

:root {
    --max-font-size: 5.6rem;
    --min-font-size: 1.6rem;

    --bg-color: var(--blue-bg-color);
    --text-color: var(--blue-text-color);
    --main-color: var(--blue-main-color);

    --second-bg-color: var(--grey-bg-color);
    --second-text-color: var(--grey-text-color);
    --second-main-color: var(--grey-main-color);
}

.dark-mode {
    --bg-color: var(--blue-bg-color);
    --text-color: var(--blue-text-color);
    --main-color: var(--blue-main-color);

    --second-bg-color: var(--grey-bg-color);
    --second-text-color: var(--grey-text-color);
    --second-main-color: var(--grey-main-color);
}