@import "style.css";
@import "local.css";

* {
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.bg-f {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*opacity: 0.5;*/
    z-index: 0;
}