@import "main.css";

.projects-grid {
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    padding: 0;
}

.project-item {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    padding: 2rem 9%;
}

.project-item.second {
    flex-direction: row-reverse;
    background: var(--second-bg-color);
    color: var(--second-text-color);
}

.project-item h2 a {
    color: var(--text-color);
}

.project-item.second h2 a {
    color: var(--second-text-color);
}

.project-item img {
    width: 50%;
    height: auto;
    max-width: 50%;
    max-height: 50vh;
    border-radius: 2.5rem;
    object-fit: cover;
}

.project-item-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-item .project-item-content {
    align-items: start;
    text-align: left;
}

.project-item.second .project-item-content {
    align-items: end;
    text-align: right;
}

.project-item-content p,
.project-item-content a {
    margin-top: 2rem;
}

.project-item-content p {
    position: relative;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.project-url {
    display: flex;
    flex-direction: row;
    gap: 0 1rem;
}

.project-item.second .btn {
    border-color: var(--second-text-color);
    color: var(--second-text-color);
    background: transparent;
}

.project-item.second .btn::before {
    background: var(--second-text-color);
}

.project-item.second .btn:focus {
    color: var(--second-bg-color);
}

.project-item.second .btn:hover,
.project-item.second .btn:focus {
    color: var(--bg-color);
}

/* BREAKPOINT: */
@media all and (max-width: 991px) {
    .project-item,
    .project-item.second {
        flex-direction: column;
        gap: 3rem;
    }

    .project-item img {
        width: 80%;
        max-width: 80%;
    }

    .project-item .project-item-content {
        align-items: center;
        text-align: center;
    }

    .project-item.second .project-item-content {
        align-items: center;
        text-align: center;
    }

    .project-url {
        flex-direction: column;
    }
}